body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
@media only screen and (max-width: 560px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
    }

.top_img{
    width:100%;
}
.city_select{
    text-align:center;
    
}
.city_select h1{
    font-size:45px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.city_sc{
    border: 1px solid black;
    width: 160px;
    height: 33px;
    font-size: 18px;
    border-radius:3px;
    
}

.city_sb{
    /* border: 1px solid black; */
    width: 80px;
    /* height: 35px; */
    font-size: 18px;
    /* border-radius:3px; */
    
    
}

.city_menu a{
    
    font-size: 35px;
    display: block;
    text-align: center;
    border: solid black 1px;
    width: 58%;
    /* margin-top: 35px;
    margin-left: 100px; */
    color: black;
    background-color: #81C9E1;
    text-decoration: none;
    margin:35px auto;
    
    
    
}

body{
    background-color:rgb(253,251,235);
    margin-bottom:80px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans','Arial','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ＭＳ ゴシック',sans-serif;
}
header{
    background-color: rgb(242,163,105);
    height:80px;
    
}
header h1{
    float:left;
    font-size:25px;
    padding:25px 0px 0px 10px;
    
}
.gomisc{
    float:right;
     padding:17px 0px 22px 0px; 
    

    
    
}

.gomi_in {
    height: 33px;
    font-size: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-top:10px;
    
}

.kensaku {
    -webkit-appearance: none;
    height: 33px;
    font-size: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: -10px;
    margin-right:5px;
    margin-top:10px;
    width:40px;
    padding:0px;
    border-radius: 0;
    background-color: silver;
}



.select_erea{
    text-align: center;
    margin:20px auto 0px;
    
}
.calender th,td{
    border:1px solid black;
    text-align: center;
    width:40px;
    height: 40px;
    font-size:30px
}
.cal_icon{
    width:40px;
}
.calender table{
    margin:0 auto;
    margin-top:20px;
}
.do{
    color:rgb(68,123,246);
}
.niti{
    color:	rgb(244,12,57);
}
.extra-mes{
    text-align: right;
    margin-top: 5px;
    margin-right:10px;
}
.emphasis span {
    color: #D33B1F;
}
.tel{
    color:#0b2f88;
}
.menu-btn a{
    display:block;
    border:1px black solid;
    width:80%;
    height:30%;
    text-align: center;
    font-size:45px;
    margin: 25px auto;
    
}
.menu-btn1{
    background-color:rgb(190,225,186);
}
.menu-btn2{
    background-color:rgb(241,247,148);
}
.menu-btn3{
    background-color:rgb(129,201,225);
}


.bell{
    margin:10px 10px;
    border-bottom: 5px black solid;
    display: inline-block;
    font-size:40px;
}
.hourbell{
    background-color:rgb(242,249,160);
}
.daybell{
    background-color:rgb(242,249,160);
}
.fire{
    color:rgb(245,5,14);
}
.nofire{
    color:rgb(6,25,247);
}
.resource{
    color:green;
}
.my_bell {
    margin:20px auto;
    text-align:center;
}
.my_bell td{
    width:150px;
    font-size:15px;
}
.my_bell table{
    margin:10 auto;
}
.my_bell{
    font-weight: 1000;
}
.my_bell p{
    font-size:30px;
}
.reset_btn{
    border:1px black solid;
    background-color: silver;
    padding:5px 10px;
}


.fot_menu{
    display: flex;
    text-align: center;
    border:1px black solid;
    position:fixed;
    bottom:0px;
    background-color: white;
}
.fot img{
    width:25%;
    height:50%;
}
.seq_b{
    border-right: 1px black solid;
}
.top_b{
    border-right: 1px black solid;
}

.no_case{
    
    margin: 10px 10px;
    border-bottom: 5px black solid;
    display: inline-block;
    font-size: 40px;
    color:#59716F;
}

.contents{
    
    margin: 30px 10px;
}

.tell{
    
    margin: 10px 10px;

}
.city_hall{
    
    margin-left: 10px;
    color:#D33B1F;
}

/*ここから page5のcss*/
h1 {
text-align: center;

}

.frammable {
background: linear-gradient(transparent 70%, #ff99cc 0%);
font-size: 40px;
font-weight: 700;
text-align: center;
color: #D33B1F;
line-height: 60px;
display: inline;
margin: 0 auto;



}


.frammable_items {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    
}

.nonframmable {
font-size: 40px;
font-weight: 700;
text-align: center;
color :blue;
line-height: 60px;
background: linear-gradient(transparent 70%, #99ccff 0%);
}
.nonframmable_items {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}


.recycle {
    
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: green;
    line-height: 60px;
    background: linear-gradient(transparent 70%, #5bed3b 0%);
}
.recycle_items {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}

/*ここから　page6のCSS*/

 .recycle_item {
     margin-top:10px;
     font-size: 30px;
     font-weight: 500;
     color: black;
     text-align: center;
 }
 .selectjan{
     color:green;
     font-weight: 500;
     font-size: 30px;
 }
 .explain {
     font-size: 20px;
     font-weight: 300px;
     color: gray;
 }
.howtoseparate h1 {
    color:#D33B1F;
    font-size: 30px;
    margin-top:5px;
    font-weight: 700;
    text-align: center;
    
} 
.howtoseparate{
    margin-bottom:40px;
}
.separation {
    text-align:left;
    font-size: 25px;
    font-weight: 250;
    width:85%;
    margin:0 auto;
}
.no_casea{
    text-align:left;
    /* text-decoration: underline; */
    margin: 10px 10px 5px;
    display: inline-block;
    font-size: 40px;
    /* text-decoration-color:black; */
    border:2px black solid;
    background-color: rgb(221,255,255);
    padding:5px;
}
