<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static\css\style.css">
    <title>ゴミ出し通知サービス</title>
</head>
<body>
    <header>
        
        <h1>今日はゴミの日</h1>
        <div class="gomisc">
        <form action="" method="POST">
            <tr>
            <td><input type="text" placeholder="ゴミの分別を検索" class="gomi_in" size="12"></td>
            <td><input type="submit" value="検索"></td>
            </tr>
        </form>
        </div>
        
    </header>
    <main>
        <h1 class="bell fire">燃えるゴミ</h1>
        <div class="menu-btn">
            <a href="/bell_fire_day/{{id}}/{{user_id}}" class="hourbell">回収の1時間前に通知する</a>
            <a href="/bell_fire_last/{{id}}/{{user_id}}" class="daybell">回収の前日に通知する</a>
        </div>
        <h1 class="bell nofire">燃えないゴミ</h1>
        <div class="menu-btn">
            <a href="/bell_nofire_day/{{id}}/{{user_id}}" class="hourbell">回収の1時間前に通知する</a>
            <a href="/bell_nofire_last/{{id}}/{{user_id}}" class="daybell">回収の前日に通知する</a>
        </div>
        <h1 class="bell resource">資源ゴミ</h1>
        <div class="menu-btn">
            <a href="/bell_source_day/{{id}}/{{user_id}}" class="hourbell">回収の1時間前に通知する</a>
            <a href="/bell_source_last/{{id}}/{{user_id}}" class="daybell">回収の前日に通知する</a>
        </div>
    </main>
    <div class="fot_menu">
        <a class="fot top_b" href="">
            <p>TOP</p>
            <img src="../../static\img\203-300x300.jpeg" alt="">
        </a>
        <a class="fot seq_b" href="">
            <p>分別</p>
            <img src="../../static\img\garbage-bag_26086-300x300.jpeg" alt="">
        </a>
        <a class="fot bell_b" href="">
            <p>通知</p>
            <img src="../../static\img\9690-300x300.jpeg" alt="">
        </a>
    </div>
    
</body>
</html>