<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static\css\style.css">
    <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../static/js/gomi.js"></script>
    <title>ゴミ出し通知サービス</title>
</head>
<body>
    <header>
        
        <h1>今日はゴミの日</h1>
        <div class="gomisc">
            <form action="/gomi_sc" method="POST">
                <tr>
                <td><input type="text" placeholder="ゴミの分別を検索" class="gomi_in" size="12" name="gomi_in"></td>
                <td><input type="submit" value="検索" class="kensaku"></td>
                </tr>
            </form>
        </div>
        
    </header>
    <main>
        <div class="my_bell">
            <h1>選択した通知</h1>
            <table>
                <tr>
                    <td></td>
                    <td>燃える<br>ゴミ</td>
                    <td>燃えない<br>ゴミ</td>
                    <td>資源<br>ごみ</td>
                </tr>
                <tr>
                    <td>当日</td>
                    <td>
                        {% if fireto >= 1 %}
                        <p>○</p>
                        {% else %}
                        <p>×</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if no_fireto >= 1 %}
                        <p>○</p>
                        {% else %}
                        <p>×</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if sourceto >= 1 %}
                        <p>○</p>
                        {% else %}
                        <p>×</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>前日</td>
                    <td>
                        {% if fireyes >= 1 %}
                        <p>○</p>
                        {% else %}
                        <p>×</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if no_fireyes >= 1 %}
                        <p>○</p>
                        {% else %}
                        <p>×</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if sourceyes >= 1 %}
                        <p>○</p>
                        {% else %}
                        <p>×</p>
                        {% endif %}
                    </td>
                </tr>
            </table>

        </div>
        <h1 class="bell fire">燃えるゴミ</h1>
        <div class="menu-btn">
            <a href="/bell_fire_day/{{id}}/{{user_id}}" class="hourbell">回収の1時間前に通知する</a>
            <a href="/bell_fire_last/{{id}}/{{user_id}}" class="daybell">回収の前日に通知する</a>
        </div>
        <h1 class="bell nofire">燃えないゴミ</h1>
        <div class="menu-btn">
            <a href="/bell_nofire_day/{{id}}/{{user_id}}" class="hourbell">回収の1時間前に通知する</a>
            <a href="/bell_nofire_last/{{id}}/{{user_id}}" class="daybell">回収の前日に通知する</a>
        </div>
        <h1 class="bell resource">資源ゴミ</h1>
        <div class="menu-btn">
            <a href="/bell_source_day/{{id}}/{{user_id}}" class="hourbell">回収の1時間前に通知する</a>
            <a href="/bell_source_last/{{id}}/{{user_id}}" class="daybell">回収の前日に通知する</a>
        </div>
    </main>
    <div class="fot_menu">
        <a class="fot top_b" href="/topmenu/{{id}}/{{user_id}}">
            <p>TOP</p>
            <img src="../../static\img\203-300x300.jpeg" alt="">
        </a>
        <a class="fot seq_b" href="/page5/{{id}}/{{user_id}}">
            <p>分別</p>
            <img src="../../static\img\garbage-bag_26086-300x300.jpeg" alt="">
        </a>
        <a class="fot bell_b" href="/bell/{{id}}/{{user_id}}">
            <p>通知</p>
            <img src="../../static\img\9690-300x300.jpeg" alt="">
        </a>
    </div>
    
</body>
</html>