<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\css\style.css">
    <title>ゴミ出し通知サービス</title>
</head>
<body>
    <img src="../static/img/01.jpeg" alt="" class="top_img">
    <div class="city_select">
        <h1 >エリアの選択</h1>
        <form action="/erea" method="POST">
            <tr>
            <input type="hidden" value="{{id}}" name="erea_id">
            <td><input type="text" placeholder="エリアを選択" class="city_sc" name="erea_sc"></td>
            <td><input type="submit" value="検索" class="city_sb"></td>
            </tr>
        </form>
    </div>
    {% for item in erea %}
    <div class="city_menu">
        <a href="/topmenu/{{item['id']}}">{{item["erea"]}}</a>
        <!-- <a href="">港町</a>
        <a href="">久茂地</a>
        <a href="">屋良</a> -->
        
    </div>
    {% endfor %}
</body>
</html>