<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>設定された地域</title>
</head>
<body>
    <header>
       







　　　　
    </header>
    <main>
        <h1>設定された地域</h1>
        <h4>資源ゴミは第　週の　曜日</h4>

        <table class="weekly scehedule">
            <t body>
                <tr>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th class="sat">土</th>
                    <th class="sun">日</th>
                </tr>
                <tr>

                    <td>●</td><!-- 月 -->
                    <td>●</td><!-- 火 -->
                    <td>●</td><!-- 水 -->
                    <td>●</td><!-- 木 -->
                    <td>●</td><!-- 金 -->
                    <td>●</td><!-- 土 -->
                    <td>ー</td><!-- 日 -->
                  </tr>
            </t body>
        </table>
      <div class="menu-btn">
        <a href="" class="garbage-separation">分別一覧</a>
        <a href="" class="notification">通知設定</a>
        <a href="" class="areare-setting">エリア再設定</a>
      </div>

    </main>
    <div class="fot_menu">
        <a class="fot top_b" href="">
            <p>TOP</p>
            <img src="../static\img\203-300x300.jpeg" alt="">
        </a>
        <a class="fot seq_b" href="">
            <p>分別</p>
            <img src="../static\img\garbage-bag_26086-300x300.jpeg" alt="">
        </a>
        <a class="fot bell_b" href="">
            <p>通知</p>
            <img src="../static\img\9690-300x300.jpeg" alt="">
            </a>


    </div>
</body>
</html>