<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\css\style.css">
    <title>ゴミ出し通知サービス</title>
</head> 

<body>
    <header>
        <h1>今日はゴミの日</h1>
        <div class="gomisc">
            <tr>
            <td><input type="text" placeholder="ゴミの分別を検索" class="gomi_in" size="12"></td>
            <td><input type="submit" value="検索"></td>
            </tr>
        </div>



    </header>
<main>
 
<h1 class="no_case">ペットボトル</h1>
<h2 class="recycle_item"><span class="selectjan">分別区分</span>：資源ごみ</h2>

    <div class="howtoseparate">
        <h1>分別方法</h1>
        <p class="separation">キャップとラベルは別にします。
        キャップはリサイクルへ 
        ラベルは燃えるゴミへ   
        ペットボトル本体は資源ごみへ 
        資源ごみは透明な袋に入れる。
        </p>
    </div>


</main>


<div class="fot_menu">
    <a class="fot top_b" href="">
        <p>TOP</p>
        <img src="../static\img\203-300x300.jpeg" alt="">
    </a>
    <a class="fot seq_b" href="">
        <p>分別</p>
        <img src="../static\img\garbage-bag_26086-300x300.jpeg" alt="">
    </a>
    <a class="fot bell_b" href="">
        <p>通知</p>
        <img src="../static\img\9690-300x300.jpeg" alt="">
     </a>

     </div>
    </body>
     </html>