<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\css\style.css">
    <title>ゴミ出し通知サービス</title>
</head> 

<body>
    <header>
        <h1>今日はゴミの日</h1>
        <div class="gomisc">
            <form action="/gomi_sc" method="POST">
                <tr>
                <td><input type="text" placeholder="ゴミの分別を検索" class="gomi_in" size="15" name="gomi_in"></td>
                <td><input type="submit" value="検索" class="kensaku"></td>
                </tr>
            </form>
        </div>



    </header>
<main>
 
    {% for item in scresult %}
<h1 class="no_casea">{{item["name"]}}</h1>
<h2 class="recycle_item"><span class="selectjan">分別区分</span>：{{item["type"]}}</h2>

    <div class="howtoseparate">
        {% if item["message"] != None %}
        <h1>分別方法</h1>
        <p class="separation">{{item["message"]}}</p>
        {% endif %}
    </div>
{% endfor %}

</main>


<div class="fot_menu">
    <a class="fot top_b" href="/topmenu/{{id}}/{{user_id}}">
        <p>TOP</p>
        <img src="../static\img\203-300x300.jpeg" alt="">
    </a>
    <a class="fot seq_b" href="/page5/{{id}}/{{user_id}}">
        <p>分別</p>
        <img src="../static\img\garbage-bag_26086-300x300.jpeg" alt="">
    </a>
    <a class="fot bell_b" href="/bell/{{id}}/{{user_id}}">
        <p>通知</p>
        <img src="../static\img\9690-300x300.jpeg" alt="">
     </a>

     </div>
    </body>
     </html>