<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>ゴミ分別表</title>
</head>
<body>
      <main>
     <h1>選択されたエリア</h1>

     <div class="frammable">燃えるゴミ</div>
     <h3>紙類、生ゴミ、草葉類、食用油、紙おむつ、プラスチック、CD、カセットテープ、ビデオテープ</h3>

     <div class="nonframmable">燃えないゴミ</div>
     <h3>紙類、生ゴミ、草葉類、食用油、紙おむつ、プラスチック、CD、カセットテープ、ビデオテープ</h3>



      </main> 
      <div class="fot_menu">
        <a class="fot top_b" href="">
            <p>TOP</p>
            <img src="../static\img\203-300x300.jpeg" alt="">
        </a>
        <a class="fot seq_b" href="">
            <p>分別</p>
            <img src="../static\img\garbage-bag_26086-300x300.jpeg" alt="">
        </a>
        <a class="fot bell_b" href="">
            <p>通知</p>
            <img src="../static\img\9690-300x300.jpeg" alt="">
        </a>
     </div>   
    
</body>
</html>