<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\css\style.css">
    <title>ゴミ出し通知サービス</title>
</head>
<body>
    <img src="../static/img/01.jpeg" alt="" class="top_img">
    <div class="city_select">
        <h1 >市町村選択</h1>
        <tr>
        <td><input type="text" value="市町村を選択" class="city_sc"></td>
        <td><input type="submit" value="検索" class="city_sb"></td>
        </tr>
    </div>
    <div class="city_menu">
        <a href="">沖縄市</a>
        <a href="">うるま市</a>
        <a href="">読谷村</a>
        <a href="">嘉手納町</a>
        
    </div>
</body>
</html>