<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\css\style.css">
    <title>ゴミ出し通知サービス</title>
</head>
<body>
    <img src="../static/img/01.jpeg" alt="" class="top_img">
    <div class="city_select">
        <h1 >メールアドレスを入力</h1>
        <p>登録したいメールアドレスを入力してください</p>
        <form action="/set_mail" method="POST">
            <tr>
            <input type="hidden" value="{{id}}" name="erea_id">
            <td><input type="email" placeholder="メールアドレス" class="city_sc" name="mail_ad" size="40"></td>
            <td><input type="submit" value="入力" class="city_sb"></td>
            </tr>
        </form>
    </div>

</body>
</html>