<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static\css\style.css">
    <title>ゴミ出し通知サービス</title>
</head>
<body>
    <header>
        
        <h1>今日はゴミの日</h1>
        <div class="gomisc">
        <form action="/gomi_sc" method="POST">
            <tr>
            <td><input type="text" placeholder="ゴミの分別を検索" class="gomi_in" size="25" name="gomi_in"></td>
            <td><input type="submit" value="検索" class="kensaku"></td>
            </tr>
        </form>
        </div>
        
    </header>
    <main>
        <div class="select_erea">
            <h1>選択した地域<br>{{sel_erea}}</h1>
        </div>
        <div class="calender">
            <table>
                <tr>
                    <td>月</td>
                    <td>火</td>
                    <td>水</td>
                    <td>木</td>
                    <td>金</td>
                    <td class="do">土</td>
                    <td class="niti">日</td>
                </tr>
                <tr>
                {% for item in cal %}
                    {% if item=="1"%}
                    <td><img src="../../static\img\gomi_mark01_moeru.png" alt="" class="cal_icon"></td> 
                    {% elif item=="2" %}
                    <td><img src="../../static\img\nofire.png" alt="" class="cal_icon"></td>
                    {% elif item=="3" %}
                    <td><img src="../../static\img\gomi_mark07_shigen.png" alt="" class="cal_icon"></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
        </div>
        <div class="extra-mes">
            <p>ごみは朝8時までに出しましょう。</p>
            <p>粗大ごみに関しては市町村にご連絡ください。</p>
            <p>粗大ごみ受付：<a href="tel:9385371" class="tel">938-5371</a></p>
            <p>ゴミ分別・収集：<a href="tel:9391212" class="tel">939-1212</a></p>
        </div>
        <div class="menu-btn">
            <a href="/page5/{{id}}/{{user_id}}" class="menu-btn1">分別一覧</a>
            <a href="/bell/{{id}}/{{user_id}}" class="menu-btn2">通知設定</a>
            <a href="/del_select" class="menu-btn3">エリア再設定</a>
        </div>
    </main>
</body>
</html>